html,
body,
#editor {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.stderr-output {
	color: var(--vscode-errorForeground);
	background: var(--vscode-inputValidation-errorBackground);
	border-bottom: 1px solid var(--vscode-inputValidation-errorBorder);
}
